<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: top-bootstrap}"></th:block>
</head>
<body>
<h1>Create Product</h1>
<form action="create" method="post" th:object="${productDto}">
    <!--    <div>-->
    <!--        Id:-->
    <!--        <input th:value="${id}" disabled th:field="*{id}">-->
    <!--    </div>-->
    <div>
        Name:
        <input type="text" th:field="*{name}">
    </div>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></p>
    <div>
        Price:
        <input type="number" th:field="*{price}">
    </div>
    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color: red"></p>

    <div>
        Description:
        <input type="text" th:field="*{description}">
    </div>
    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red"></p>

    <div>
        Manufacturer:
        <input type="text" th:field="*{manufacturer}">
    </div>
    <p th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}" style="color: red"></p>
    <div>
        <input type="submit" value="create new product">
    </div>
    <div>
        <button><a href="/list">Back to List</a></button>
    </div>
</form>
<th:block th:replace="~{layout :: bot-bootstrap}"></th:block>
</body>
</html>