<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <th:block th:replace="~{layout :: top-bootstrap}"></th:block>
</head>
<body>
<h1 ><a href="/list">Product List</a></h1>
<h2 th:text="${message}" class="text-success"></h2>
<button><a href="/create">Create new product</a></button>
<hr>
<form action="/list" method="get">
    <div class="input-group">
        <div class="form-outline">
            <input type="search" id="form1" class="form-control" name="nameProduct"/>
            <label class="form-label" for="form1">Search by Name</label>
        </div>
        <div class="form-outline">
            <input type="search" id="form2" class="form-control" name="nameDescription"/>
            <label class="form-label" for="form1">Search by Description</label>
        </div>
        <div class="form-outline">
            <input type="search" id="form3" class="form-control" name="nameManufacturer"/>
            <label class="form-label" for="form1">Search by Manufacturer</label>
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>
<table class="table">
    <thead class="table-dark">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Manufacturer</th>
        <th>Detail</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product,loop : ${productList}">
        <td th:text="${loop.count}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.manufacturer}"></td>
        <td>
            <button type="button" class="btn btn-primary"><a th:href="@{/detail(id=${product.id})}"
                                                             style="color: white">Detail</a>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-warning"><a th:href="@{/edit(id=${product.id})}" style="color: white">Edit</a>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-danger"><a th:href="@{/delete(id=${product.id})}" style="color: white">Delete</a>
            </button>
        </td>
    </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" th:if="${productList.hasPrevious()}"
               th:href="@{/list(page=${productList.number - 1}, keyword=${keywordVal1},keyword=${keywordVal2},keyword=${keywordVal3})}">Previous</a>
        </li>
        <li class="page-link">
            <span th:text="${productList.number + 1}"></span>
            /
            <span th:text="${productList.totalPages}"></span>
        </li>
        <li class="page-item">
            <a class="page-link" th:if="${productList.hasNext()}"
               th:href="@{/list(page=${productList.number + 1}, keyword=${keywordVal1},keyword=${keywordVal2},keyword=${keywordVal3})}">Next</a>
        </li>
    </ul>
</nav>
<th:block th:replace="~{layout :: bot-bootstrap}"></th:block>
</body>
</html>