<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contract List</title>
    <th:block th:replace="~{layout :: css}"></th:block>
    <th:block th:replace="~{layout :: top-bootstrap}"></th:block>
</head>
<body>
<h1 class="text-center text-light mx-auto">FURAMA RESORT MANAGEMENT</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">CUSTOMER</a>
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/home}">Furama</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/customer/list}">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/employee/list}">Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/service/list}">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contract/list}">Contract</a>
                </li>
            </ul>
        </div>
    </div>
    <i class="fas fa-plus"><a th:href="@{/contract/create}"> New Contract</a></i>
    <i class="fas fa-plus"><a th:href="@{/contract-detail/create-detail}"> Contract Detail</a></i>
</nav>
<h2 class="text-center text-dark mx-auto">CONTRACT LIST</h2>
<nav aria-label="Page navigation example">
    <ul class="pagination mx-auto justify-content-center text-center">
        <li class="page-item">
            <a class="page-link" th:if="${contractList.hasPrevious()}"
               th:href="@{/contract/list(page=${contractList.number - 1})}">Previous</a>
        </li>
        <li class="page-link">
            <span th:text="${contractList.number + 1}"></span>
            /
            <span th:text="${contractList.totalPages}"></span>
        </li>
        <li class="page-item">
            <a class="page-link" th:if="${contractList.hasNext()}"
               th:href="@{/contract/list(page=${contractList.number + 1})}">Next</a>
        </li>
    </ul>
    <!--    keyword=${keywordVal1}-->
</nav>
<div class="container">
    <table class="table w-75 mx-auto shadow-2-strong">
        <thead class="table-dark p-3">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Day Start</th>
            <th scope="col">Day End</th>
            <th scope="col">Deposit</th>
            <th scope="col">Total Money</th>
            <th scope="col">Employee</th>
            <th scope="col">Customer</th>
            <th scope="col">Service</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contract,loop : ${contractList}">
            <th scope="row" th:text="${loop.count}"></th>
            <td th:text="${contract.contractStartDate}"></td>
            <td th:text="${contract.contractEndDate}"></td>
            <td th:text="${contract.contractDeposit}"></td>
            <td th:text="${contract.contractTotalMoney}"></td>
            <td th:text="${contract.employee.employeeName}"></td>
            <td th:text="${contract.customer.customerName}"></td>
            <td th:text="${contract.service.serviceName}"></td>
        </tr>
        </tbody>
    </table>
</div>
<footer class="text-center text-white" style="background-color: #21081a;">

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="#">hoang long</a>
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>