<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <th:block th:replace="~{layout :: top-bootstrap}"></th:block>
</head>
<body>
<h1>Product List</h1>
<h2 th:text="${message}" class="text-success"></h2>
<button><a href="/create">Create new product</a></button>
<table class="table">
    <thead class="table-dark">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Manufacturer</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product,loop : ${productList}">
        <td th:text="${loop.count}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.manufacturer}"></td>
        <td>
            <button type="button" class="btn btn-warning"><a th:href="@{/edit(id=${product.id})}" style="color: white">Edit</a>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-danger"><a th:href="@{/delete(id=${product.id})}" style="color: white">Delete</a>
            </button>
        </td>
    </tr>
    </tbody>
</table>
<th:block th:replace="~{layout :: bot-bootstrap}"></th:block>
</body>
</html>