<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Song</title>
</head>
<body>
<h1>Create Song</h1>
<form action="" th:object="${music}" method="post">
<div>
    Name Song:
    <input type="text" th:field="*{nameSong}">
</div>
    <div>
        Name Singer:
        <input type="text" th:field="*{nameSinger}">
    </div>
    <div>
        Url Song:
        <input type="text" th:field="*{pathSong}">
    </div>
    <div>
        Type Song:
        <input type="text" th:field="*{typeSong}">
    </div>
    <button>
        Create new Music
    </button>
</form>
<button><a th:href="@{/list}">Back to List</a></button>
</body>
</html>