<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
    <th:block th:replace="~{layout :: css}"></th:block>

    <th:block th:replace="~{layout :: top-bootstrap}"></th:block>
</head>
<body>
<h1 class="text-center text-light mx-auto">FURAMA RESORT MANAGEMENT</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">CUSTOMER</a>
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/home}">Furama</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/customer/list}">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/employee/list}">Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/service/list}">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contract/list}">Contract</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<form th:object="${customerDto}" method="post" th:action="@{/customer/create}">
    <fieldset class="w-75 mx-auto">
        <legend class="text-center my-4"><span class="text-secondary">Create New Customer</span></legend>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="code" type="text" th:field="*{customerCode}"/>
            <label class="form-label" for="code">Code KH-XXXX (x is 0-9)</label>
        </div>
        <div class="w-25 mx-auto my-4">
            <p th:if="${#fields.hasErrors('customerCode')}" th:errors="*{customerCode}" style="color: red"></p>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="name" type="text" th:field="*{customerName}"/>
            <label class="form-label" for="name">Name</label>
        </div>
        <div class="w-25 mx-auto my-4">
            <p th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}" style="color: red"></p>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="dob" type="date" th:field="*{customerDateOfBirth}"/>
            <label class="form-label" for="dob">Date Of Birth</label>
        </div>
        <div class="w-25 mx-auto my-4">
            <p th:if="${#fields.hasErrors('customerDateOfBirth')}" th:errors="*{customerDateOfBirth}"
               style="color: red"></p>
        </div>

        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="id-card" type="text" th:field="*{customerIdCard}"/>
            <label class="form-label" for="id-card">Id Card</label>
        </div>
        <div class="w-25 mx-auto my-4">
            <p th:if="${#fields.hasErrors('customerIdCard')}" th:errors="*{customerIdCard}" style="color: red"></p>
        </div>

        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="phone" type="text" th:field="*{customerPhone}"/>
            <label class="form-label" for="phone">Phone(7x)090x,091x; 84+90x,91x</label>
        </div>
        <div class="w-25 mx-auto my-4">

            <p th:if="${#fields.hasErrors('customerPhone')}" th:errors="*{customerPhone}" style="color: red"></p>
        </div>

        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="email" type="text" th:field="*{customerEmail}"/>
            <label class="form-label" for="email">Email</label>
        </div>
        <div class="w-25 mx-auto my-4">

            <p th:if="${#fields.hasErrors('customerEmail')}" th:errors="*{customerEmail}" style="color: red"></p>
        </div>

        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="address" type="text" th:field="*{customerAddress}"/>
            <label class="form-label" for="address">Address</label>
        </div>
        <div class="w-25 mx-auto my-4">
            <p th:if="${#fields.hasErrors('customerAddress')}" th:errors="*{customerAddress}" style="color: red"></p>
        </div>

        <div class="form-outline w-25 mx-auto my-4">
            <select th:field="*{customerGender}" class="form-select" aria-label="Disabled select example">
                <option value="" th:text="--Gender--"></option>
                <option th:value="1" th:text="Male"></option>
                <option th:value="0" th:text="Female"></option>
            </select>
        </div>
        <div class="w-25 mx-auto my-4">
            <p th:if="${#fields.hasErrors('customerGender')}" th:errors="*{customerGender}" style="color: red"></p>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <select th:field="*{customerType}" class="form-select" aria-label="Disabled select example">
                <option value="" th:text="--type--"></option>
                <option th:each="customerType: ${customerTypeList}"
                        th:value="${customerType.customerTypeId}"
                        th:text="${customerType.customerTypeName}"></option>
            </select>
        </div>
        <div class="w-25 mx-auto my-4">
            <p th:if="${#fields.hasErrors('customerType')}" th:errors="*{customerType}" style="color: red"></p>
        </div>
    </fieldset>
    <div class="text-center">
        <button type="submit" class="btn btn-secondary mt-4 mx-2">Add New</button>
        <input class="btn btn-warning me-4" type="reset" value="cancel">
    </div>
</form>
<div class="text-center">
    <a class="btn btn-light mt-4 " th:href="@{/customer/list}">Back to Customer List</a>
</div>
<th:block th:replace="~{layout :: bot-bootstrap}"></th:block>
</body>
</html>