<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>
    <th:block th:replace="~{layout :: css}"></th:block>
    <th:block th:replace="~{layout :: top-bootstrap}"></th:block>
</head>
<body>
<h1 class="text-center text-light mx-auto">FURAMA RESORT MANAGEMENT</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">OCCUPIED LIST</a>
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/home}">Furama</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/customer/list}">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/employee/list}">Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/service/list}">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contract/list}">Contract</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h2 class="text-center text-dark mx-auto">CUSTOMER LIST</h2>
<!--<nav aria-label="Page navigation example">-->
<!--    <ul class="pagination mx-auto justify-content-center text-center">-->
<!--        <li class="page-item">-->
<!--            <a class="page-link" th:if="${occupiedList.hasPrevious()}"-->
<!--               th:href="@{/customer/occ-list(page=${occupiedList.number - 1},nameQuery=${keywordVal1},addressQuery=${keywordVal2},customerTypeQuery=${keywordVal3})}">Previous</a>-->
<!--        </li>-->
<!--        <li class="page-link">-->
<!--            <span th:text="${occupiedList.number + 1}"></span>-->
<!--            /-->
<!--            <span th:text="${occupiedList.totalPages}"></span>-->
<!--        </li>-->
<!--        <li class="page-item">-->
<!--            <a class="page-link" th:if="${occupiedList.hasNext()}"-->
<!--               th:href="@{/customer/occ-list(page=${occupiedList.number + 1},nameQuery=${keywordVal1},addressQuery=${keywordVal2},customerTypeQuery=${keywordVal3})}">Next</a>-->
<!--        </li>-->
<!--    </ul>-->
<!--    &lt;!&ndash;    keyword=${keywordVal1}&ndash;&gt;-->
<!--</nav>-->
<div class="container">
    <table class="table w-75 mx-auto shadow-2-strong">
        <thead class="table-dark p-3">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Customer Code</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Customer Type</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Attach Service</th>
            <th scope="col">Attach Service Status</th>
            <th scope="col">Quantity</th>
            <th scope="col" colspan="2" class="text-center">Function</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="occ,loop : ${occupiedList}">
            <th scope="row" th:text="${loop.count}"></th>
<!--            <td th:text="${occ.occCustomerId}"></td>-->
            <td th:text="${occ.occCustomerCode}"></td>
            <td th:text="${occ.occCustomerName}"></td>
            <td th:text="${occ.occCustomerTypeName}"></td>
            <td th:text="${occ.occStartDate}"></td>
            <td th:text="${occ.occEndDate}"></td>
            <td th:text="${occ.attachServiceName}"></td>
            <td th:text="${occ.attachServiceStatus}"></td>
            <td th:text="${occ.quantity}"></td>
        </tr>
        </tbody>
    </table>
</div>
<footer class="text-center text-white" style="background-color: #21081a;">

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="#">hoang long</a>
    </div>
    <!-- Copyright -->
</footer>
<div id="spinnerALong" th:fragment="spinner" style="text-align: center">
    <div class="spin-row" id="spin-row-1">
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="spin-row" id="spin-row-2">
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="spin-row" id="spin-row-3">
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="spin-row" id="spin-row-4">
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="spin-row" id="spin-row-5">
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-success" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-warning" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="spin-row" id="spin-row-6">
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-success" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-warning" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="spin-row" id="spin-row-7">
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="spin-row" id="spin-row-8">
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="spin-row" id="spin-row-9">
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-success" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-warning" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="spin-row" id="spin-row-10"  >
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-success" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-warning" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Customer</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" th:action="@{/customer/delete}">
                <div class="modal-body">
                    <input type="hidden" name="id" id="get-id">
                    <h1 style="color: black" id="get-name">
                        Name Customer:
                    </h1>
                    <hr>
                    <p>Are You Sure ???</p>
                    <p style="color: red">this action cant not revert</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete It !</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function deleteModal(id, name) {
        document.getElementById("get-id").value = id;
        document.getElementById("get-name").innerText = name;
    }
</script>
<th:block th:replace="~{layout :: bot-bootstrap}"></th:block>
</body>
</html>