<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: top-bootstrap}"></th:block>

</head>
<body>
<div class="row mx-3">
    <div class="card-group col-4" th:each="book: ${books}">
        <div class="card m-4"><img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
                                   alt="Hollywood Sign on The Hill"/>
            <div class="card-body"><h4 class="card-title text-truncate">Tên sách : <span class="text-secondary"
                                                                                         th:text="${book.title}"></span>
            </h4>
                <p class="card-text text-warning"> Tác giả: <span th:text="${book.author}"></span></p>
                <p class="card-text text-warning"> Thể loại: <small class="text-success"
                                                                    th:text="${book.subject}"></small></p>
                <p class="card-text text-danger">Số lượng còn lại : <span class="text-secondary"
                                                                          th:text="${book.quantity}"></span> quyển</p>
                <div class="card-footer px-0"><a class="btn btn-success mx-4" th:href="@{/detail/{id}(id=${book.id})}">Xem
                    sách</a> <a class="btn btn-info mx-4" th:href="@{/borrow/{id}(id=${book.id})}">Mượn sách</a></div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="~{layout :: bot-bootstrap}"></th:block>
</body>
</html>