<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Song</title>
</head>
<body>
<form action="/edit" method="post" th:object="${music}">
    <input type="hidden" th:field="${music.id}">
    <div>
        Name Song:
        <input type="text" th:field="*{nameSong}" th:value="${music.nameSong}">
    </div>
    <div>
        Name Singer:
        <input type="text" th:field="*{nameSinger}" th:value="${music.nameSinger}">
    </div>
    <div>
        Url Song:
        <input type="text" th:field="*{pathSong}" th:value="${music.pathSong}">
    </div>
    <div>
        Type Song:
        <input type="text" th:field="*{typeSong}" th:value="${music.typeSong}">
    </div>
    <button>
        Edit Music
    </button>
</form>
<button><a th:href="@{/list}">Back to List</a></button>
</body>
</html>