<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Music</title>
    <th:block th:replace="~{layout :: top-bootstrap}"></th:block>
</head>
<body>
<h1>Music List
    <button><a th:href="@{/list}"><i class="fas fa-sync"></i></a></button>
</h1>

<h2 th:text="${message}" style="color: green"></h2>
<button><a th:href="@{/create}">Create New Song</a></button>
<table class="table">
    <thead class="table-dark">
    <tr>
        <th>#</th>
        <th>Name Song</th>
        <th>Name Singer</th>
        <th>Url Song</th>
        <th>Type Song</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="music,loop : ${musicList}">
        <td th:text="${loop.count}"></td>
        <td th:text="${music.nameSong}"></td>
        <td th:text="${music.nameSinger}"></td>
        <td th:text="${music.pathSong}"></td>
        <td th:text="${music.typeSong}"></td>
        <td>
            <button type="button" class="btn btn-warning"><a th:href="@{/edit(id=${music.id})}" style="color: white">Edit</a>
            </button>
        </td>
        <td>
            <button th:attr="onclick=|deleteModal('${music.id}', '${music.nameSong}')|"
                    type="button" class="btn btn-warning" data-mdb-toggle="modal" data-mdb-target="#deleteModal">
                Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Product</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/delete}" method="post">
                <div class="modal-body">
                    <input type="hidden" name="id" id="get-id">

                    <h1>
                        Name Song:
                        <p style="color: green" id="get-name">
                        </p></h1>
                    Are You Sure
                    <p style="color: red">this action cant not revert</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete it !</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function deleteModal(id, name) {
        document.getElementById("get-id").value = id;
        document.getElementById("get-name").innerText = name;
    }
</script>
<th:block th:replace="~{layout :: bot-bootstrap}"></th:block>
</body>
</html>