<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Furama Home</title>
    <th:block th:replace="~{layout :: css}"></th:block>
    <th:block th:replace="~{layout :: top-bootstrap}"></th:block>
</head>
<body>
<h1 class="text-center text-light mx-auto">FURAMA RESORT MANAGEMENT</h1>
<th:block th:replace="~{layout :: nav-bar}"></th:block>
<div class="container">
<div class="row">
    <div class="col-md-4">ads</div>
    <div class="col-md-8">body</div>
</div>
<footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="#">hoang long</a>
    </div>
    <!-- Copyright -->
</footer>
</div>
<th:block th:replace="~{layout :: bot-bootstrap}"></th:block>
</body>
</html>